<div class="center">
  <h1>Template Driven Form</h1>
  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div class="inputbox">
      <input type="text" ngModel name="email" #email="ngModel">
      <span class="error" *ngIf="email && email.touched && email.invalid">*Email is not valid</span>
      <span>Email</span>
    </div>
    <div class="inputbox">
      <input type="text" ngModel name="name">
      <span>Name</span>
    </div>
    <div class="inputbox">
      <input type="number" ngModel name="age">
      <span>Age</span>
    </div>
    <div class="inputbox">
      <input type="password" ngModel name="password">
      <span>Password</span>
    </div>
    <div class="inputbox">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>