<div class="container">

  <div class="sidenav">
  <h2>Practice</h2>
    <h1 (click)="navigateToHome()">Home</h1>
    <h1 (click)="navigateToBindings()">Bindings</h1>
    <h1 (click)="navigateToEmployee()">Employee Lists</h1>
    <h1 (click)="lifecycleRun()">Life Cycle Hooks</h1>
    <h1 (click)="navigateToTForm()">Template driven form</h1>
    <h1 (click)="navigateToRForm()">Reactive form</h1>
    <h1 (click)="navigateToQnA()">Ques & Ans</h1>
  </div>
  
  <div class="content">
    <h1 class="title">Angular Training</h1>
    <div class="lifeCycle">
      <app-life-cycle-hooks [titles]="title" *ngIf="lifecycle"></app-life-cycle-hooks>
    </div>
    <div class="body" *ngIf="Off">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>