<div class="body">
    <div class="container">
      <h1 class="title">Data Binding</h1>
  
      <div class="section">
        <h2>One-Way Data Binding</h2>
  
        <div class="subsection">
          <h3>Interpolation</h3>
          <p class="interpolation">{{ textInterpolation }}</p>
          <img [src]="imagePath" alt="Image">
        </div>
  
        <div class="subsection">
          <h3>Property Binding</h3>
          <img [src]="imagePath" alt="Image">
        </div>
  
        <div class="subsection">
          <h3>Event Binding</h3>
          <button (click)="eventBinding()">Click</button>
        </div>
      </div>
  
      <div class="section">
        <h2>Two-Way Data Binding</h2>
  
        <div class="subsection">
          <h3>Using ngModel</h3>
          <p class="two-way">{{ textTwoWay }}</p>
          <input [(ngModel)]="textTwoWay">
        </div>
      </div>
  
      <div class="section">
        <h2>Style Binding</h2>
  
        <div class="subsection">
          <h3>Inline Style Binding</h3>
          <h1 [style.color]="'red'">Styled Heading</h1>
        </div>
  
        <div class="subsection">
          <h3>Dynamic Style Binding</h3>
          <h2 [style.color]="dynamicColor">Dynamic Heading</h2>
        </div>
      </div>
    </div>
  </div>