.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .subsection {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .interpolation {
    font-size: 18px;
    color: #333;
  }
  
  img {
    width: 200px;
    max-width: 200px;
    height: 200px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  h1 {
    font-size: 32px;
    color: red;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .two-way {
    font-size: 18px;
    color: #333;
  }
  